* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

h1{
    text-align: center;
    color:brown;
}
 

/* Style the grid container */

.box {

    display: grid;

    grid-template-columns: repeat(3, 100px); /* 3 columns, each 100px wide */

    gap: 2px; /* Gap between squares */

    justify-content: center; /* Center the grid horizontally */

    align-content: center; /* Center the grid vertically */

    height: 300px; /* Set a fixed height for the grid container */

    width: 300px; /* Set a fixed width for the grid container */

    margin: 0 auto; /* Center the grid container horizontally */

    margin-top: 20px; /* Add some top margin for spacing */

}

 

/* Style the individual squares */

.inner {

    width: 100%; /* Each square takes the full width of its grid cell */

    padding-bottom: 100%; /* Maintain a 1:1 aspect ratio for squares */

    /* background-color: #3498;*/ /* Background color */

    border: 0px solid #050505; /* Border style */

}

.b1{
    background-color: aquamarine;
}
.b2{
    background-color: rgb(54, 180, 28);
}
.b3{
    background-color: rgb(252, 77, 237);
}
.b4{
    background-color: rgb(233, 236, 60);
}
.b5{
    background-color: rgb(231, 31, 17);
}
.b6{
    background-color: rgb(86, 31, 150);
}
.b7{
    background-color: rgb(99, 105, 7);
}
.b8{
    background-color: rgb(69, 87, 248);
}
.b9{
    background-color: rgb(165, 66, 75);
}

